<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 반응형 상단1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1461310647264020"
     data-ad-slot="4388198858"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>