<h2 class="tedition_title" style="font-size: 1.3rem; font-weight: bold; border-bottom: 1px solid #e0e1e2; margin-bottom: 0.7rem;">
      ★ 잉고래의 문화연예 생각
      <a href="http://ingorae.tistory.com/category/%EB%AC%B8%ED%99%94%EC%97%B0%EC%98%88" class="ui right floated basic button" style="font-size: 0.8rem; padding: 0.5rem; text-decoration: none;">
        더보기
      </a>
  </h2>

  <div class="tedition_title_bottom"></div>
  <ul class="tt-wrap-item">
    <s_tabloid>
      <li class="tt-span-12 [##_is_last_item_##][##_clear_##]">
        <div class="tt-span-3">
          <a href="[##_article_rep_link[0]_##]" title="[##_article_rep_title[0]_##]" class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[0]_##] tt-last">
                  <img
                        class="ui circular image"
                        style="width:100%; height:100%; border-color: #fff;"
                        src="http://[##_article_rep_thumb_host[0]_##]/[##_thumb_type[0]_##]/[##_article_rep_thumb_hash[0]_##]"
                        alt="[##_article_rep_title[0]_##]"/></a>
          <p class="tt-post-title tt-clear">
            <a href="[##_article_rep_link[0]_##]">[##_article_rep_title_excerpt[0]_##]</a>
          </p>
        </div>
        <div class="tt-span-3">
          <a href="[##_article_rep_link[1]_##]" title="[##_article_rep_title[1]_##]" class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[1]_##] tt-last">
                  <img
                        class="ui circular image"
                        style="width:100%; height:100%; border-color: #fff"
                        src="http://[##_article_rep_thumb_host[1]_##]/[##_thumb_type[1]_##]/[##_article_rep_thumb_hash[1]_##]"
                        alt="[##_article_rep_title[1]_##]"/></a>
          <p class="tt-post-title tt-clear">
            <a href="[##_article_rep_link[1]_##]">[##_article_rep_title_excerpt[1]_##]</a>
          </p>
        </div>
        <div class="tt-span-3">
          <a href="[##_article_rep_link[2]_##]" title="[##_article_rep_title[2]_##]" class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[2]_##] tt-last">
                  <img
                        class="ui circular image"
                        style="width:100%; height:100%; border-color: #fff"
                        src="http://[##_article_rep_thumb_host[2]_##]/[##_thumb_type[2]_##]/[##_article_rep_thumb_hash[2]_##]"
                        alt="[##_article_rep_title[2]_##]"/></a>
          <p class="tt-post-title tt-clear">
            <a href="[##_article_rep_link[2]_##]">[##_article_rep_title_excerpt[2]_##]</a>
          </p>
        </div>
        <div class="tt-span-3 tt-last">
          <a href="[##_article_rep_link[3]_##]" title="[##_article_rep_title[3]_##]" class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[3]_##] tt-last">
                  <img
                        class="ui circular image"
                        style="width:100%; height:100%; border-color: #fff"
                        src="http://[##_article_rep_thumb_host[3]_##]/[##_thumb_type[3]_##]/[##_article_rep_thumb_hash[3]_##]"
                        alt="[##_article_rep_title[3]_##]"/></a>
          <p class="tt-post-title tt-clear">
            <a href="[##_article_rep_link[3]_##]">[##_article_rep_title_excerpt[3]_##]</a>
          </p>
        </div>
      </li>
    </s_tabloid>
  </ul>


<h2 class="tedition_title" style="font-size: 1.3rem; font-weight: bold; border-bottom: 1px solid #e0e1e2; margin-bottom: 0.7rem;">
    ★ 잉고래의 맛집 탐방
    <a href="http://ingorae.tistory.com/category/%EB%A8%B9%EA%B3%A0%20%EB%86%80%EA%B8%B0/%EB%A7%9B%EC%A7%91" class="ui right floated basic button" style="font-size: 0.8rem; padding: 0.5rem; text-decoration: none;">
        더보기
    </a>
</h2>

<div class="tedition_title_bottom"></div>
<ul class="tt-wrap-item">
    <s_tabloid>
        <li class="tt-span-12 [##_is_last_item_##][##_clear_##]">
            <div class="tt-span-3">
            	<a href="[##_article_rep_link[0]_##]" title="[##_article_rep_title[0]_##]"
            	class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[0]_##] tt-last[##_use_noimage_##]">
            	<img
                    class="tt-post-thumb"
                    style="[##_thumb_style[0]_##]"
                    src="http://[##_article_rep_thumb_host[0]_##]/[##_thumb_type[0]_##]/[##_article_rep_thumb_hash[0]_##]"
                    alt="[##_article_rep_title[0]_##]"/></a>
                <p class="tt-post-title tt-clear">
                    <a href="[##_article_rep_link[0]_##]">[##_article_rep_title_excerpt[0]_##]</a>
                </p>
                <p class="tt-post-summary tt-clear"><a href="[##_article_rep_link[0]_##]">[##_article_rep_desc_excerpt[0]_##]</a></p>
                <p class="tt-post-etcinfo tt-clear">
                	<span class="tt-post-category"><a href="[##_article_rep_category_link[0]_##]">[##_article_rep_category[0]_##]</a></span>
	                <span class="tt-post-author">[##_article_rep_author[0]_##]</span>
	            	<span class="tt-post-date">[##_article_rep_date[0]_##]</span>
					<span class="tt-post-comment">[##_article_rep_comment_cnt[0]_##] comment</span>
                </p>
            </div>
            <div class="tt-span-3">
            	<a href="[##_article_rep_link[1]_##]" title="[##_article_rep_title[1]_##]"
            	class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[1]_##] tt-last[##_use_noimage_##]">
            	<img
                    class="tt-post-thumb"
                    style="[##_thumb_style[1]_##]"
                    src="http://[##_article_rep_thumb_host[1]_##]/[##_thumb_type[1]_##]/[##_article_rep_thumb_hash[1]_##]"
                    alt="[##_article_rep_title[1]_##]"/></a>
                <p class="tt-post-title tt-clear">
                    <a href="[##_article_rep_link[1]_##]">[##_article_rep_title_excerpt[1]_##]</a>
                </p>
                <p class="tt-post-summary tt-clear"><a href="[##_article_rep_link[1]_##]">[##_article_rep_desc_excerpt[1]_##]</a></p>
                <p class="tt-post-etcinfo tt-clear">
                	<span class="tt-post-category"><a href="[##_article_rep_category_link[1]_##]">[##_article_rep_category[1]_##]</a></span>
	                <span class="tt-post-author">[##_article_rep_author[1]_##]</span>
	            	<span class="tt-post-date">[##_article_rep_date[1]_##]</span>
					<span class="tt-post-comment">[##_article_rep_comment_cnt[1]_##] comment</span>
                </p>
            </div>
            <div class="tt-span-3">
            	<a href="[##_article_rep_link[2]_##]" title="[##_article_rep_title[2]_##]"
            	class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[2]_##] tt-last[##_use_noimage_##]">
            	<img
                    class="tt-post-thumb"
                    style="[##_thumb_style[2]_##]"
                    src="http://[##_article_rep_thumb_host[2]_##]/[##_thumb_type[2]_##]/[##_article_rep_thumb_hash[2]_##]"
                    alt="[##_article_rep_title[2]_##]"/></a>
                <p class="tt-post-title tt-clear">
                    <a href="[##_article_rep_link[2]_##]">[##_article_rep_title_excerpt[2]_##]</a>
                </p>
                <p class="tt-post-summary tt-clear"><a href="[##_article_rep_link[2]_##]">[##_article_rep_desc_excerpt[2]_##]</a></p>
                <p class="tt-post-etcinfo tt-clear">
                	<span class="tt-post-category"><a href="[##_article_rep_category_link[2]_##]">[##_article_rep_category[2]_##]</a></span>
	                <span class="tt-post-author">[##_article_rep_author[2]_##]</span>
	            	<span class="tt-post-date">[##_article_rep_date[2]_##]</span>
					<span class="tt-post-comment">[##_article_rep_comment_cnt[2]_##] comment</span>
                </p>
            </div>
            <div class="tt-span-3 tt-last">
            	<a href="[##_article_rep_link[3]_##]" title="[##_article_rep_title[3]_##]"
            	class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[3]_##] tt-last[##_use_noimage_##]">
            	<img
                    class="tt-post-thumb"
                    style="[##_thumb_style[3]_##]"
                    src="http://[##_article_rep_thumb_host[3]_##]/[##_thumb_type[3]_##]/[##_article_rep_thumb_hash[3]_##]"
                    alt="[##_article_rep_title[3]_##]"/></a>
                <p class="tt-post-title tt-clear">
                    <a href="[##_article_rep_link[3]_##]">[##_article_rep_title_excerpt[3]_##]</a>
                </p>
                <p class="tt-post-summary tt-clear"><a href="[##_article_rep_link[3]_##]">[##_article_rep_desc_excerpt[3]_##]</a></p>
                <p class="tt-post-etcinfo tt-clear">
                	<span class="tt-post-category"><a href="[##_article_rep_category_link[3]_##]">[##_article_rep_category[3]_##]</a></span>
	                <span class="tt-post-author">[##_article_rep_author[3]_##]</span>
	            	<span class="tt-post-date">[##_article_rep_date[3]_##]</span>
					<span class="tt-post-comment">[##_article_rep_comment_cnt[3]_##] comment</span>
                </p>
            </div>
        </li>
    </s_tabloid>
</ul>


<h2 class="tedition_title" style="font-size: 1.3rem; font-weight: bold; border-bottom: 1px solid #e0e1e2; margin-bottom: 0.7rem;">
            ★ 잉고래의 IT 탐구
            <a href="http://ingorae.tistory.com/category/%EC%A0%95%EB%B3%B4/IT%20%EC%86%8C%EC%8B%9D"  class="ui basic right floated button" style="font-size: 0.8rem; padding: 0.5rem; text-decoration: none;">
                더보기
            </a>
        </h2>

    <div class="tedition_title_bottom"></div>
    <ul class="tt-wrap-item">
        <s_tabloid>
            <li class="tt-span-12 [##_is_last_item_##][##_clear_##]">
                <div class="tt-span-3">
                    <a href="[##_article_rep_link[0]_##]" title="[##_article_rep_title[0]_##]"
                    class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[0]_##] tt-last">
                    <img
                        class="tt-post-thumb"
                        style="[##_thumb_style[0]_##]"
                        src="http://[##_article_rep_thumb_host[0]_##]/[##_thumb_type[0]_##]/[##_article_rep_thumb_hash[0]_##]"
                        alt="[##_article_rep_title[0]_##]"/></a>
                    <p class="tt-post-title tt-clear">
                        <a href="[##_article_rep_link[0]_##]">[##_article_rep_title_excerpt[0]_##]</a>
                    </p>
                </div>
                <div class="tt-span-3">
                    <a href="[##_article_rep_link[1]_##]" title="[##_article_rep_title[1]_##]"
                    class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[1]_##] tt-last">
                    <img
                        class="tt-post-thumb"
                        style="[##_thumb_style[1]_##]"
                        src="http://[##_article_rep_thumb_host[1]_##]/[##_thumb_type[1]_##]/[##_article_rep_thumb_hash[1]_##]"
                        alt="[##_article_rep_title[1]_##]"/></a>
                    <p class="tt-post-title tt-clear">
                        <a href="[##_article_rep_link[1]_##]">[##_article_rep_title_excerpt[1]_##]</a>
                    </p>
                </div>
                <div class="tt-span-3">
                    <a href="[##_article_rep_link[2]_##]" title="[##_article_rep_title[2]_##]"
                    class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[2]_##] tt-last">
                    <img
                        class="tt-post-thumb"
                        style="[##_thumb_style[2]_##]"
                        src="http://[##_article_rep_thumb_host[2]_##]/[##_thumb_type[2]_##]/[##_article_rep_thumb_hash[2]_##]"
                        alt="[##_article_rep_title[2]_##]"/></a>
                    <p class="tt-post-title tt-clear">
                        <a href="[##_article_rep_link[2]_##]">[##_article_rep_title_excerpt[2]_##]</a>
                    </p>
                </div>
                <div class="tt-span-3 tt-last">
                    <a href="[##_article_rep_link[3]_##]" title="[##_article_rep_title[3]_##]"
                    class="tt-wrap-thumb-link tt-span-3-border tt-span-3-[##_thumb_ratio[3]_##] tt-last">
                    <img
                        class="tt-post-thumb"
                        style="[##_thumb_style[3]_##]"
                        src="http://[##_article_rep_thumb_host[3]_##]/[##_thumb_type[3]_##]/[##_article_rep_thumb_hash[3]_##]"
                        alt="[##_article_rep_title[3]_##]"/></a>
                    <p class="tt-post-title tt-clear">
                        <a href="[##_article_rep_link[3]_##]">[##_article_rep_title_excerpt[3]_##]</a>
                    </p>
                </div>
            </li>
        </s_tabloid>
    </ul>



<h2 class="tedition_title" style="font-size: 1.3rem; font-weight: bold; border-bottom: 1px solid #e0e1e2; margin-bottom: 0.7rem;">
      ★ 잉고래의 책장
      <a href="http://ingorae.tistory.com/category/%EC%9E%89%EA%B3%A0%EB%9E%98/%EB%8F%85%EC%84%9C" class="ui right floated basic button" style="font-size: 0.8rem; padding: 0.5rem; text-decoration: none;">
        더보기
      </a>
  </h2>

  <div class="tedition_title_bottom"></div>

  <s_tabloid>
    <div style="display: flex; justify-content: space-around;">
      <div style="width:20.8%; height: 220px;">
        <a href="[##_article_rep_link[0]_##]" title="[##_article_rep_title[0]_##]">
          <img style="width:100%; height:100%; z-index: -1;" src="http://[##_article_rep_thumb_host[0]_##]/[##_thumb_type[0]_##]/[##_article_rep_thumb_hash[0]_##]"
          alt="[##_article_rep_title[0]_##]" />
          <img style="position: relative; top: -105.5%; left: -15px; z-index: 300; width:120.5%; height: 101.5%;" src="https://tistory1.daumcdn.net/tistory/583407/skin/images/book_cover.png">
        </a>
      </div>
      <div style="width:20.8%; height: 220px;">
        <a href="[##_article_rep_link[1]_##]" title="[##_article_rep_title[1]_##]">
          <img style="width:100%; height:100%; z-index: -1;" src="http://[##_article_rep_thumb_host[1]_##]/[##_thumb_type[1]_##]/[##_article_rep_thumb_hash[1]_##]"
          alt="[##_article_rep_title[1]_##]" />
          <img style="position: relative; top: -105.5%; left: -15px; z-index: 300; width:120.5%; height: 101.5%;" src="https://tistory1.daumcdn.net/tistory/583407/skin/images/book_cover.png">
      </a>
      </div>
      <div style="width:20.8%; height: 220px;">
        <a href="[##_article_rep_link[2]_##]" title="[##_article_rep_title[2]_##]">
              <img style="width:100%; height:100%; z-index: -1;" src="http://[##_article_rep_thumb_host[2]_##]/[##_thumb_type[2]_##]/[##_article_rep_thumb_hash[2]_##]"
          alt="[##_article_rep_title[2]_##]" />
        <img style="position: relative; top: -105.5%; left: -15px; z-index: 300; width:120.5%; height: 101.5%;" src="https://tistory1.daumcdn.net/tistory/583407/skin/images/book_cover.png">
      </a>
      </div>
      <div style="width:20.8%; height: 220px;">
        <a href="[##_article_rep_link[3]_##]" title="[##_article_rep_title[3]_##]">
              <img style="width:100%; height:100%; z-index: -1;" src="http://[##_article_rep_thumb_host[3]_##]/[##_thumb_type[3]_##]/[##_article_rep_thumb_hash[3]_##]"
          alt="[##_article_rep_title[3]_##]" />
        <img style="position: relative; top: -105.5%; left: -15px; z-index: 300; width:120.5%; height: 101.5%;" src="https://tistory1.daumcdn.net/tistory/583407/skin/images/book_cover.png">
      </a>
      </div>
    </div>
  </s_tabloid>